.button {
	&__enhanced {
		--border-angle: 0deg;
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		border: 2px solid transparent;
		transition: all 1s ease-in-out;

		&--idle {
			background:
				linear-gradient(
						var(--border-angle),
						rgb(242, 243, 226) 0%,
						rgb(223, 243, 225) var(--gradient-offset),
						rgb(249, 214, 245) 100%
					)
					padding-box,
				conic-gradient(
						from 90deg,
						rgb(255, 239, 59) 0%,
						rgb(70, 255, 101) 33%,
						rgb(55, 165, 255) 66%,
						rgb(222, 83, 122) 90%,
						rgb(255, 239, 59) 100%,
					)
					border-box;

			animation: idle-animation 10s linear infinite;
		}

		&--selected {
			background:
				linear-gradient(
						90deg,
						rgb(203, 235, 194) 0%,
						rgb(204, 240, 205) var(--gradient-offset),
						rgb(249, 207, 217) 100%
					)
					padding-box,
				conic-gradient(
						from 90deg,
						rgb(255, 239, 59) 0%,
						rgb(70, 255, 101) 33%,
						rgb(55, 165, 255) 66%,
						rgb(222, 83, 122) 90%,
						rgb(255, 239, 59) 100%,
					)
					border-box;
					animation: border-spin 5s linear infinite;
		}

		&--loading {
			background:
				linear-gradient(
						90deg,
						rgb(203, 235, 194) 0%,
						rgb(204, 240, 205) var(--gradient-offset),
						rgb(249, 207, 217) 100%
					)
					padding-box,
				conic-gradient(
						from var(--border-angle),
						rgb(255, 239, 59) 0%,
						rgb(70, 255, 101) 33%,
						rgb(55, 165, 255) 66%,
						rgb(222, 83, 122) 90%,
						rgb(255, 239, 59) 100%,
					)
					border-box;
					animation: border-spin 1s linear infinite;
		}
	}
}

@keyframes idle-animation {
	from {
		--border-angle: 0turn;
		--gradient-offset: 100%;
	}
	50% {
		--gradient-offset: 0%;
	}
	to {
		--border-angle: 1turn;
		--gradient-offset: 100%;
	}
}

@keyframes selected-animation {
	from {
		--gradient-offset: 100%;
	}
	50% {
		--gradient-offset: 0%;
	}
	to {
		--gradient-offset: 100%;
	}
}

@keyframes border-spin {
	from {
		--border-angle: 0turn;
	}
	to {
		--border-angle: 1turn;
	}
}
