@use './button.scss';

:root {
	--background: #ebeced;
	--stroke: #919091;
	--border: var(--stroke);
	--text-secondary: #484848;
	--secondary: #171717;
}

// debug mode
// * {
// 	outline: 3px solid rgb(0, 64, 255);
// 	background: #ff646472;
// }

:root,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
	background-color: var(--background);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100dvh;
	min-width: 100dvw;
}

.horizontal-scroll::-webkit-scrollbar {
	height: 0px;
}

.horizontal-scroll {
	-ms-overflow-style: none;
	-moz-scrollbar-width: none;
	scrollbar-width: none;
}

.hidden-scroll {
	-ms-overflow-style: none;
	-moz-scrollbar-width: none;
	scrollbar-width: none;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
