@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/button.scss';

// global variables
$background: #ebeced;
$stroke: #919091;
$text-secondary: #484848;

// debug mode
// * {
// 	outline: 3px solid rgb(0, 64, 255);
// 	background: #ff646472;
// }

:root,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
	background-color: $background;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	// min-height: 100vh;
	// min-width: 100vw;
}

.horizontal-scroll::-webkit-scrollbar {
	height: 0px;
}

.horizontal-scroll {
	-ms-overflow-style: none;
	-moz-scrollbar-width: none;
	scrollbar-width: none;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.center {
	@apply flex justify-center items-center;
}

.col-center {
	@apply flex justify-center items-center flex-col;
}

.col {
	@apply flex flex-col;
}

.full {
	@apply w-full h-full;
}

.screen {
	@apply w-screen h-screen;
}

.gap-sm {
	@apply gap-[1.375rem];
}

.gap-md {
	@apply gap-[2.625rem];
}

.gap-xl {
	@apply gap-[7.5rem];
}

.px-md {
	@apply px-[2.625rem];
}

.bg-default {
	@apply bg-[#f1efeb];
}

.main-container {
	@apply w-full flex justify-center items-center gap-4 px-[5%];
}
